{% extends 'manager_base.html' %} {% block title %}Manager{% endblock title %}
{% block style %} #div_id_is_returnable{ margin-top:20px; }
#div_id_is_returnable>label{ margin-top:5px;margin-left:10px;
}input{margin:auto; margin-bottom:20px;} {% endblock style %} {%load crispy_forms_tags%}{%block sidebar %}
<li>
  <a
    href="{% url 'managerac' value=0 %}"
    class="nav-link active text-white"
    aria-current="page"
  >
    <svg class="bi me-2" width="16" height="16">
      <i class="fab fa-product-hunt"></i>
    </svg>
    &nbsp Products
  </a>
</li>
<li>
  <a href="{% url 'managerac' value=1 %}" class="nav-link text-white">
    <svg class="bi me-2" width="16" height="16">
      <i class="far fa-plus-square"></i>
    </svg>
    &nbsp Add Product
  </a>
</li>
<li>
  <a href="{% url 'managerac' value=2 %}" class="nav-link text-white">
    <svg class="bi me-2" width="16" height="16">
      <i class="fas fa-sitemap"></i>
    </svg>
    &nbsp Item List
  </a>
</li>
<li>
  <a href="{% url 'managerac' value=3 %}" class="nav-link text-white">
    <svg class="bi me-2" width="16" height="16">
      <i class="fas fa-sitemap"></i>
    </svg>
    &nbsp Add Item
  </a>
</li>
<li>
  <a href="{% url 'managerac' value=4 %}" class="nav-link text-white">
    <svg class="bi me-2" width="16" height="16">
      <i class="fab fa-creative-commons-share"></i>
    </svg>
    &nbsp Issue Item
  </a>
</li>
<li>
  <a href="{% url 'managerac' value=5 %}" class="nav-link text-white">
    <svg class="bi me-2" width="16" height="16">
      <i class="fas fa-file-invoice"></i>
    </svg>
    &nbsp Issued/Return
  </a>
</li>
<li>
  <a href="{% url 'managerac' value=6 %}" class="nav-link text-white">
    <svg class="bi me-2" width="16" height="16">
      <i class="far fa-flag"></i>
    </svg>
    &nbsp Reports
  </a>
</li>
{% endblock sidebar %} {% block statcards %}

<div class="outflex">
  <div class="container-fluid headd"></div>
  <div class="stat">
    <div class="card">
      <div class="card-body card1">
        <h5 class="card-title text-center">Total Products</h5>
        <p class="card-text">{{arr.0}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body card2">
        <h5 class="card-title text-center">Available Products</h5>
        <p class="card-text">{{arr.1}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body card3">
        <h5 class="card-title text-center">Issued Products</h5>
        <p class="card-text">{{arr.2}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body card4">
        <h5 class="card-title text-center">Under Maintenace</h5>
        <p class="card-text">{{arr.3}}</p>
      </div>
    </div>
  </div>
  <div class="container-fluid headd"></div>
  <div class="infoout">
    <form class="info" method="POST" action="">
      {% csrf_token %} {{form10|crispy}}
      <input type="submit" value="Update" />
    </form>
  </div>
</div>
{% endblock statcards %}
